<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joolun.mall.mapper.TraceabilityBatchMapper">
    <resultMap id="batchMap" type="com.joolun.mall.entity.TraceabilityBatch">
        <id property="id" column="id"/>
        <result property="batchNo" column="batch_no"/>
        <result property="spuId" column="spu_id"/>
        <result property="productName" column="product_name"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="merchantName" column="merchant_name"/>
        <result property="origin" column="origin"/>
        <result property="productionDate" column="production_date"/>
        <result property="expiryDate" column="expiry_date"/>
        <result property="quantity" column="quantity"/>
        <result property="unit" column="unit"/>
        <result property="specification" column="specification"/>
        <result property="storageCondition" column="storage_condition"/>
        <result property="certifications" column="certifications"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="batchSql">
        tb.id,
        tb.batch_no,
        tb.spu_id,
        tb.product_name,
        tb.merchant_id,
        tb.merchant_name,
        tb.origin,
        tb.production_date,
        tb.expiry_date,
        tb.quantity,
        tb.unit,
        tb.specification,
        tb.storage_condition,
        tb.certifications,
        tb.status,
        tb.create_time,
        tb.update_time,
        tb.del_flag
    </sql>

    <select id="selectPage1" resultMap="batchMap">
        SELECT
        <include refid="batchSql"/>
        FROM traceability_batch tb
        <where>
            tb.del_flag = 0
            <if test="query.status != null">
                AND tb.status = #{query.status}
            </if>
            <if test="query.batchNo != null and query.batchNo != ''">
                AND tb.batch_no = #{query.batchNo}
            </if>
            <if test="query.productName != null and query.productName != ''">
                AND tb.product_name LIKE CONCAT('%',#{query.productName},'%')
            </if>
            <if test="query.merchantId != null">
                AND tb.merchant_id = #{query.merchantId}
            </if>
        </where>
        ORDER BY tb.create_time DESC
    </select>
</mapper>
